List is an ordered collection of elements with any datatypes

In [1]:
type([])

list

In [2]:
list(['deb',True,12,3+5j,36.8])

['deb', True, 12, (3+5j), 36.8]

In [3]:
str1 = 'Debattam'
list(str1)

['D', 'e', 'b', 'a', 't', 't', 'a', 'm']

In [23]:
str2 = 'Welcome to Jupiter Notebook'
list1 = str2.split(' ') # Gives list
list1

['Welcome', 'to', 'Jupiter', 'Notebook']

In [12]:
list1[2]

'Jupiter'

In [19]:
list1[1:] # Picking from 1 position to all

['to', 'Jupiter', 'Notebook']

In [25]:
list1[:2] # Picking all upto 2nd position without 2nd element

['Welcome', 'to']

In [33]:
list1[::-1] # Picking all from backside with 1 step

['Notebook', 'Jupiter', 'to', 'Welcome']

In [34]:
list1[-4::] # Picking from -4 position to all

['Welcome', 'to', 'Jupiter', 'Notebook']

In [40]:
list1[-4:-1] # Picking from -4 position to -1 position

['Welcome', 'to', 'Jupiter']

In [45]:
list1[-4::-1]

['Welcome']

In [46]:
# Checking Mutability
list1[0] = 'Greetings'
list1

['Greetings', 'to', 'Jupiter', 'Notebook']

In [51]:
# Concatenate list
list2 = list1 + ['new element'] + [['Multinested List']]
list2

['Greetings', 'to', 'Jupiter', 'Notebook', 'new element', ['Multinested List']]

In [52]:
# Indexing of multi-nested list
list2[-1][0]

'Multinested List'

In [53]:
list1 * 2 # All the elements repeated two times

['Greetings',
 'to',
 'Jupiter',
 'Notebook',
 'Greetings',
 'to',
 'Jupiter',
 'Notebook']

In [54]:
list1

['Greetings', 'to', 'Jupiter', 'Notebook']

In [55]:
'Jupiter' in list1

True

In [63]:
list1 = ['zebra','monkey','donkey','lion']
list2 = [5,6,2,9,5,8,6]

In [57]:
max(list1) # Find maximum or minimum based on ASCII value

'zebra'

In [58]:
max(list2)

9

In [59]:
min(list1)

'donkey'

In [60]:
min(list2)

2

In [64]:
list1.append(list2) # It is an inplace operation, append something at last
list1

['zebra', 'monkey', 'donkey', 'lion', [5, 6, 2, 9, 5, 8, 6]]

In [65]:
list1.pop() # Inplace operation, by-default removes last element and also shows which element is deleted
list1

['zebra', 'monkey', 'donkey', 'lion']

In [66]:
list1.pop(2)
list1

['zebra', 'monkey', 'lion']

In [67]:
new_list = ['a','b','c','d','e']
new_list.reverse()  # Inplace operation
new_list

['e', 'd', 'c', 'b', 'a']

In [70]:
new_list.sort(reverse=False) # Inplace operation, ascending order
new_list

['a', 'b', 'c', 'd', 'e']

In [71]:
list1.extend(list2) # It is not making nested list as append function
list1

['zebra', 'monkey', 'lion', 5, 6, 2, 9, 5, 8, 6]

In [72]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]

matrix = [list1,list2,list3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [73]:
matrix[1][1]

5

In [74]:
matrix[2][1:]

[8, 9]

In [75]:
# List comprehension
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [86]:
['Even' if i%2 == 0 else 'Odd' for i in range(0,10)]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [82]:
# Finding even numbers using list comprehension
[i for i in range(20) if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [85]:
# Finding sum of even and odd numbers from a given list using list comprehension
list1 = [1,2,3,4,5,6]
evensum = sum([i for i in list1 if i%2 == 0])
oddsum = sum([i for i in list1 if i%2 == 1])
evensum

12

In [87]:
# Find the 1st element of all the words from given list
words = ['apple','banana','chery','date']
[word[0] for word in words]

['a', 'b', 'c', 'd']

In [4]:
# Flatten a list of lists into a single list using list comprehension
list1 = [[1,2,3],[4,5,6],[7,8,9]]
[num for sublist in list1 for num in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# Problems
# Create a list of only the prime numbers from a given list
#  Create a list of all the possible combinations of 2 numbers from a given list