In [1]:
d={}
type(d)

dict

In [2]:
# Here data is stored in terms of key-value pairs
d1 = {'name':'Debattam', 'gender':'male','age':22}
print(type(d1))
print(d1)

<class 'dict'>
{'name': 'Debattam', 'gender': 'male', 'age': 22}

In [3]:
# Key should be unique otherwise it will be updated with the newer value
d2 = {'name':'deb', 'name':'debattam'}
d2

{'name': 'debattam'}

In [4]:
# Key can be any datatypes but not any special characters
d3 = {123:'abc'}
print(d3)
d3 = {123.45:'abc'}
print(d3)
d3 = {True:'abc'}
print(d3)

{123: 'abc'}
{123.45: 'abc'}
{True: 'abc'}

In [6]:
# Only Tuple can be work as a key but not list and set and dictionary
d3 = {(1,2,3):'abc'}
print(d3)

{(1, 2, 3): 'abc'}

In [40]:
# We can consider value as a list or tuple or set or dictionary
d4 = {'subject_name': ['math','science','geography']}
print(d4)

d4 = {'key':(1,2,3,4,5)}
print(d4)

d4 = {'key':{1,2,3,4,5}}
print(d4)

d4 = {'employee':{'id':123, 'name':'deb', 'salary':20000}}  # nested dictionary
print(d4)

{'subject_name': ['math', 'science', 'geography']}
{'key': (1, 2, 3, 4, 5)}
{'key': {1, 2, 3, 4, 5}}
{'employee': {'id': 123, 'name': 'deb', 'salary': 20000}}

In [16]:
# Creating a dictionary having all the combinations
dic = {'class':[9,10,11,12],
       'subject':('math','science','history','geography'),
       'teacher_name':{'tkd','jkr','mcm','nk','ph'},
       'student_name':{1:'deb', 2:'raju', 3:'ram', 4:'shyam'}}
dic

{'class': [9, 10, 11, 12],
 'subject': ('math', 'science', 'history', 'geography'),
 'teacher_name': {'jkr', 'mcm', 'nk', 'ph', 'tkd'},
 'student_name': {1: 'deb', 2: 'raju', 3: 'ram', 4: 'shyam'}}

In [17]:
# Adding new key-value
dic['head_master']='skm'
dic

{'class': [9, 10, 11, 12],
 'subject': ('math', 'science', 'history', 'geography'),
 'teacher_name': {'jkr', 'mcm', 'nk', 'ph', 'tkd'},
 'student_name': {1: 'deb', 2: 'raju', 3: 'ram', 4: 'shyam'},
 'head_master': 'skm'}

In [18]:
# Extracting values by giving key-name
dic['subject']

('math', 'science', 'history', 'geography')

In [19]:
dic['head_master'].upper()

'SKM'

In [20]:
type(dic['student_name'])

dict

In [21]:
# Extracting value from nested dictionary
dic['student_name'][4]

'shyam'

In [22]:
# Deleting one key-value from dictionary
del dic['head_master']
dic

{'class': [9, 10, 11, 12],
 'subject': ('math', 'science', 'history', 'geography'),
 'teacher_name': {'jkr', 'mcm', 'nk', 'ph', 'tkd'},
 'student_name': {1: 'deb', 2: 'raju', 3: 'ram', 4: 'shyam'}}

In [23]:
# Deleting total dictionary
d1.clear()
d1

{}

In [24]:
# Finding the length of a dictionary
len(dic)

4

In [25]:
# Extracting all the keys
dic.keys()

dict_keys(['class', 'subject', 'teacher_name', 'student_name'])

In [26]:
# Extracting all the values
dic.values()

dict_values([[9, 10, 11, 12], ('math', 'science', 'history', 'geography'), {'jkr', 'ph', 'nk', 'tkd', 'mcm'}, {1: 'deb', 2: 'raju', 3: 'ram', 4: 'shyam'}])

In [27]:
type(dic.keys())

dict_keys

In [28]:
list(dic.keys())

['class', 'subject', 'teacher_name', 'student_name']

In [29]:
dic.items() # Shows key and value inside a tuple

dict_items([('class', [9, 10, 11, 12]), ('subject', ('math', 'science', 'history', 'geography')), ('teacher_name', {'jkr', 'ph', 'nk', 'tkd', 'mcm'}), ('student_name', {1: 'deb', 2: 'raju', 3: 'ram', 4: 'shyam'})])

In [30]:
list(dic.items())

[('class', [9, 10, 11, 12]),
 ('subject', ('math', 'science', 'history', 'geography')),
 ('teacher_name', {'jkr', 'mcm', 'nk', 'ph', 'tkd'}),
 ('student_name', {1: 'deb', 2: 'raju', 3: 'ram', 4: 'shyam'})]

In [31]:
# Deep Copy
d5 = dic.copy()
d5
# If i do some change in dic then d5 will not be effected. 
# Pointing different memory location

{'class': [9, 10, 11, 12],
 'subject': ('math', 'science', 'history', 'geography'),
 'teacher_name': {'jkr', 'mcm', 'nk', 'ph', 'tkd'},
 'student_name': {1: 'deb', 2: 'raju', 3: 'ram', 4: 'shyam'}}

In [32]:
# Shallow Copy
d6 = dic
d6
# If i do some change in dic then d6 will be effected.
# Pointing same memory location but using different variable name

{'class': [9, 10, 11, 12],
 'subject': ('math', 'science', 'history', 'geography'),
 'teacher_name': {'jkr', 'mcm', 'nk', 'ph', 'tkd'},
 'student_name': {1: 'deb', 2: 'raju', 3: 'ram', 4: 'shyam'}}

In [41]:
d4

{'employee': {'id': 123, 'name': 'deb', 'salary': 20000}}

In [42]:
d4.pop('employee') # pop will remove that particular key with value and showing that particular value

{'id': 123, 'name': 'deb', 'salary': 20000}

In [43]:
d4

{}

In [44]:
# We can iterate and store same values in every keys in this way
d.fromkeys((1,2,3),('a','b','c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [50]:
# We can store dictionaries inside a tuple
d7 = {'key1':'value1', 'key2':'value2'}
d8 = {'key2':'value2', 'key3':'value3'}
(d7,d8)

({'key1': 'value1', 'key2': 'value2'}, {'key2': 'value2', 'key3': 'value3'})

In [51]:
d7.update(d8) # All the unique keys from d8 are copied and pasted inside d7
d7

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [52]:
d7.get('key2') # It shows the corresponding value from given key

'value2'

Dictionary Comprehensions

In [58]:
# Create a dictionary where keys are 1-10 and corresponding value is square of that key
d10 = {i:i**2 for i in range(1,11)}
d10

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [59]:
# Extract only those values whose keys are even number
for i in d10.keys():
    if i%2 == 0:
        print(d10[i])

4
16
36
64
100

In [55]:
dic

{'class': [9, 10, 11, 12],
 'subject': ('math', 'science', 'history', 'geography'),
 'teacher_name': {'jkr', 'mcm', 'nk', 'ph', 'tkd'},
 'student_name': {1: 'deb', 2: 'raju', 3: 'ram', 4: 'shyam'}}

In [60]:
# Check teacher_name is available in dic or not
'teacher_name' in dic

True