** Tuple --> Immutable Object, we cant change any tuple element after tuple is created
   List --> Mutable Object, we cant change list element later

In [19]:
t=()
l=[]
print(type(t))
print(type(l))

<class 'tuple'>
<class 'list'>

In [4]:
t1=(1, 2, 3.56, 4+5j, "Debattam", True)
print(type(t1))
print(t1)

<class 'tuple'>
(1, 2, 3.56, (4+5j), 'Debattam', True)

In [6]:
# We can extract any tuple element by indexing
print(t1[3])
print(t1[-2])

(4+5j)
Debattam

In [8]:
# Reversing the tuple without changing main tuple (without using item reassignment operator)
t1[::-1]

(True, 'Debattam', (4+5j), 3.56, 2, 1)

In [10]:
# Slicing operation
t1[0:5]

(1, 2, 3.56, (4+5j), 'Debattam')

In [11]:
t1.count(3.56) # It shows how many times 3.56 occuring in tuple

1

In [18]:
t1.count(True) # The system internally treats True as 1

2

In [17]:
t1.index(True) # The system internally treats True as 1

0

In [20]:
for i in t1:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3.56 <class 'float'>
(4+5j) <class 'complex'>
Debattam <class 'str'>
True <class 'bool'>

In [35]:
# Checking an element is inside a tuple or not
'Debattam' in t1

True

In [21]:
t2=(1,2,3,4)

In [22]:
t2*4

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [23]:
max(t2)

4

In [24]:
min(t2)

1

In [26]:
# Tuples inside tuple
t3 = (t1,t2)
t3

((1, 2, 3.56, (4+5j), 'Debattam', True), (1, 2, 3, 4))

In [34]:
len(t3)

2

In [36]:
3.56 in t3

False

In [39]:
(1,2,3,4) in t3

True

In [31]:
# List inside a tuple
t4 = ((1,2,3,4),[1,2,3,4])
t4

((1, 2, 3, 4), [1, 2, 3, 4])

In [32]:
# Deleting tuple
del t4