In [1]:
print('Print is an inbuilt function')

Print is an inbuilt function

In [2]:
# Structure of Creating own function
def test():
    pass

In [3]:
def test1():
    print('This is my first function')

In [4]:
test1()

This is my first function

In [3]:
# Print is going to return nonetype so we cant do further operation like concatenate str with this function
# Thatswhy to do some further operation with function we use return statement to return any datatype
def test2():
    return 'My name is '

In [4]:
test2() + 'Debattam'

'My name is Debattam'

In [5]:
 def test3():
    return 12,'abcd',34.5,True        # It always returns in a tuple
test3()

(12, 'abcd', 34.5, True)

In [8]:
test3()[1]

'abcd'

In [6]:
a = 1,2,3,4,5
a

(1, 2, 3, 4, 5)

In [7]:
a,b,c,d = 1,2,34.56,True
c

34.56

In [9]:
a,b,c,d = test3()
c

34.5

In [10]:
def test4():
    a = 3*4 + 5
    return a

In [11]:
test4()

17

In [12]:
type(test4())

int

In [13]:
# passing data inside a function
def test5(a,b):
    c = a+b
    return c

In [14]:
test5(4,7)

11

In [15]:
test5('Debattam ','Paul')

'Debattam Paul'

In [16]:
test5([1,2,3,4],[5,6,7,8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
test5(b='Paul',a='Debattam ')

'Debattam Paul'

In [35]:
# Problem - Create a function which takes list as input and gives all the numeric values out of it as an output.
def numeric(a):
    n = []
    for i in a:
        if(type(i) == list):
            for j in i:
                if(type(j) == int or type(j) == float):
                    n.append(j)
        else:
            if(type(i) == int or type(i) == float):
                n.append(i)
    return n

In [36]:
a = [1,True, 4.5, 5, 3+7j, 'abc']
numeric(a)

[1, 4.5, 5]

In [38]:
b = [1,3.6,[3.5,12,True],3+5j,False]
numeric(b)

[1, 3.6, 3.5, 12]

In [39]:
def test6(a,b,c,d,e):
    pass

In [40]:
test6(1,2,3,4,5)  # Here we cant give more than five arguments

In [42]:
def test6(*args):
    return args
test6(1,2,3,[4,5,6],(7,8,9),10, True, 5+7j) # Here we can give any number of arguments, any type of arguments

(1, 2, 3, [4, 5, 6], (7, 8, 9), 10, True, (5+7j))

In [44]:
def test7(*deb,a):
    return *deb,a

test7(1,2,3,4, a='debattam')

(1, 2, 3, 4, 'debattam')

In [45]:
# Problem - Store only lists into a list from given arguments into a function
def store_list(*args):
    n = []
    for i in args:
        if(type(i) == list):
            n.append(i)
    return n

In [46]:
store_list(1,2,3,[4,5],(3,4,5),'abc',[5,6,7,8],True,3+7j,[10])

[[4, 5], [5, 6, 7, 8], [10]]

In [48]:
def test8(**kwargs):
    return kwargs
test8(a = 4, b = 4, c = 8, d = (1,2,3), e = ['abc',3,5])     # It returns arguments in terms of key-value pairs

{'a': 4, 'b': 4, 'c': 8, 'd': (1, 2, 3), 'e': ['abc', 3, 5]}

In [56]:
# Problem - Select those keys from given arguments into a function whose values are in list
def test9(**kwargs):
    key = []
    value = []
    for i in kwargs.keys():
        if(type(kwargs[i]) == list):
            key.append(i)
            value.append(kwargs[i])
    return key, value

In [59]:
test9(a = [4], b = 4, c = [1,2,3,4], d = (1,2,3), e = ['abc',3,5])

(['a', 'c', 'e'], [[4], [1, 2, 3, 4], ['abc', 3, 5]])

In [60]:
def test10(*args, **kwargs):
    return args,kwargs

In [61]:
test10(1,2,3,4,5, a = 10, b = 20)   # only values are going to *arg and key-values are going to **kwargs autometically

((1, 2, 3, 4, 5), {'a': 10, 'b': 20})